NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SQUARE_ENV=sandbox
SQUARE_ACCESS_TOKEN=
SQUARE_WEBHOOK_SIGNATURE_KEY=
SQUARE_WEBHOOK_NOTIFICATION_URL=
SQUARE_LOCATION_ID=
SQUARE_LOCATION_ID_PROVO=
SQUARE_LOCATION_ID_OREM=
# Optional override
SQUARE_API_VERSION=2025-01-23
